/bin/
/src/*.o
/tests/*_tests
/samtools/
/tests/tests_log
setup.log
/tests/*.dSYM
/install
/tests/*.o
/src/*.o
src/*.log
src/caveman
src/run_all_tests
src/Makefile
*/Makefile.in
Makefile.in
Makefile
src/generateCavemanUMNormVCF
tests/.*
src/.deps
testData/test_out.vcf.gz
stamp-h1
test-driver
*.log
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
missing
