params {
  
  //Generic - help etc
  help = false

  //Required
  genomefa = null
  mutBam = null
  controlBam = null
  ignoreContigs = null
  ignoreRegions = null

  //Optional setup - or empty file and blanket CN
  normcn = "NO_NCN"
  tumcn = "NO_TCN"
  configF = "caveman.cfg.ini"
  algBeanF = "alg_bean"
  resultsDir = "./results"
  splitList = "splitList"
  includeSW = "NO_SW"
  includeSE = "NO_SE"
  includeDups = "NO_DUPS"

  //Optional split 
  maxSplitReadNum = 350000

  //Optional mstep
  mstepSplitSize = 50000
  mstepMinBaseQual = 11


}

/*
process {

  //container = "quay.io/wtsicgp/cgpcavemanwrapper:1.18.1"

  withName: 'setup' {
    cpus = 1
    memory = 250 MB
  }

  withName: 'split' {

  }

  withName: 'split_concat' {

  }

  withName: 'mstep' {

  }

  withName: 'merge' {

  }

  withName: 'estep' {

  }

  withName: 'merge_results' {

  }

  withName: 'add_ids' {

  }

  withName: 'flag' {
    
  }

}
*/
