params {
  
  //Generic - help etc
  help = false

  //Required
  genomefa = null
  mutBam = null
  controlBam = null
  ignoreContigs = null
  ignoreRegions = null
  species = null
  assembly = null
  analysisName = null

  //Optional setup - or empty file and blanket CN
  normcn = "NO_NCN"
  tumcn = "NO_TCN"
  configF = "caveman.cfg.ini"
  algBeanF = "alg_bean"
  resultsDir = "./results"
  splitList = "splitList"
  includeSW = "NO_SW"
  includeSE = "NO_SE"
  includeDups = "NO_DUPS"

  //Optional split 
  maxSplitReadNum = 350000

  //Optional mstep
  mstepSplitSize = 50000
  minBaseQual = 11

  //Optional estep
  priorMutProb = 0.000006
  priorSnpProb = 0.000100
  normalContamination = 0.100000
  refBias = 0.950000
  mutProbCutoff = 0.800000
  snpProbCutoff = 0.950000
  minTumCvg = 1
  minNormCvg = 1
  normProtocol = "WGS"
  tumProtocol = "WGS"
  normCNFill = 2
  tumCNFill = 5
  normSeqPlatform = "NO_PLAT"
  tumSeqPlatform = "NO_PLAT"

}

process {

  withName: 'setup' {
    cpus = 1
    memory = '250 MB'
    queue = 'small'
  }

  withName: 'split' {
    cpus = 1
    memory = '1500 MB'
    queue = 'normal'
  }

  withName: 'split_concat' {
    cpus = 1
    memory = '2 GB'
    queue = 'small'
  }

  withName: 'generate_mstep_indices' {
    cpus = 1
    memory = '500 MB'
    queue = 'small'
  }

  withName: 'mstep' {
    cpus = 1
    memory = '8 GB'
    queue = 'normal'
  }

  withName: 'merge' {
    cpus = 1
    memory = '5 GB'
    queue = 'small'
  }

  withName: 'estep' {
    cpus = 1
    memory = '8 GB'
    queue = 'normal'
  }

  withName: 'merge_results' {
    cpus = 1
    memory = '5 GB'
    queue = 'small'
  }

  withName: 'add_ids' {
    cpus = 1
    memory = '2 GB'
    queue = 'small'
  }
/*
  withName: 'flag' {
    
  }*/
}

// this will only work if there is a docker/singularity image available
profiles {
    local {
        process.executor = 'local'
    }
    lsf {
        process.executor = 'lsf'
        executor.perJobMemLimit = true
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '--cleanenv'
        docker.enabled         = false
        process.container = 'quay.io/wtsicgp/cgpcavemanwrapper:1.18.3'
    }
}
