params {
  
  //Generic - help etc
  help = false

  //Required
  genomefa = null
  mutBam = null
  controlBam = null
  ignoreContigs = null
  ignoreRegions = null
  species = null
  assembly = null
  analysisName = null

  //Optional setup - or empty file and blanket CN
  normcn = "NO_NCN"
  tumcn = "NO_TCN"
  configF = "caveman.cfg.ini"
  algBeanF = "alg_bean"
  resultsDir = "./results"
  splitList = "splitList"
  includeSW = "NO_SW"
  includeSE = "NO_SE"
  includeDups = "NO_DUPS"

  //Optional split 
  maxSplitReadNum = 350000

  //Optional mstep
  mstepSplitSize = 50000
  minBaseQual = 11

  //Optional estep
  priorMutProb = 0.000006
  priorSnpProb = 0.000100
  normalContamination = 0.100000
  refBias = 0.950000
  mutProbCutoff = 0.800000
  snpProbCutoff = 0.950000
  minTumCvg = 1
  minNormCvg = 1
  normProtocol = "WGS"
  tumProtocol = "WGS"
  normCNFill = 2
  tumCNFill = 2
  normSeqPlatform = "NO_PLAT"
  tumSeqPlatform = "NO_PLAT"

}

/*
process {

  //container = "quay.io/wtsicgp/cgpcavemanwrapper:1.18.1"

  withName: 'setup' {
    cpus = 1
    memory = 250 MB
  }

  withName: 'split' {

  }

  withName: 'split_concat' {

  }

  withName: 'mstep' {

  }

  withName: 'merge' {

  }

  withName: 'estep' {

  }

  withName: 'merge_results' {

  }

  withName: 'add_ids' {

  }

  withName: 'flag' {
    
  }

}
*/
